*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: linear-gradient(rgb(31, 163, 75),rgb(177, 61, 177));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    margin-top: 2%;
    position: relative;
    top:0; left: 0; right:0;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    z-index: 1000;
    padding:  0px 7%;
}
header .fashion{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: red;
}
header .navbar ul{
    list-style: none;
}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
    font-size: 30px;
    padding: 20px;
    color: black;
    display: block;
    text-decoration: none;
    font-weight: bolder;
}

header .navbar ul li a:hover{
    color: red;
    transition: 1s;
}
#menu-bar{
    display: none;
}
header label{
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}
.logo{
    margin-top: 5%;
    margin-left: 15%;
    display: inline-block;
    justify-content: center;
}
.logo img{
    margin-top: 40px;
    margin-left: 5%;
    height: 450px;
}
.slogan{
    padding-left: 80px;
    display: inline-block;
    justify-content: center;
}
.slogan img{
    height: 400px;
    margin-bottom: 25px;
}

.slips{
    margin-left: 10%;
    height: 600px;
    width: 1000px;
}
.top-image{
    display: inline-block;
    position: relative;
    width: 1000px;
    margin-left: 7%;
    margin-top: 10%;

}
.top-image img{

    border-radius: 0px;
}

.slips{
    margin: 0;
    display: block;
    width: 1000px;
}
.top-overlay{
    position: absolute;
    top: 0;
    width: 1000px;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.top-overlay:hover{
    opacity: 1;
}
.top-text{
    font-size: 3rem;
    font-weight: 400;
}

.image{
    display: inline-block;
    position: relative;
    width: 400px;
    margin-left: 11.5%;
    margin-top: 5%;
    border-radius: 1000px;
}
.image img{
    border-radius: 400px;
}
.man{
    display: block;
    width: 100%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border-radius: 200px;
}
.overlay:hover{
    opacity: 1;
}
.text{
    font-size: 3rem;
    font-weight: 400;
}
.middle{
    margin-bottom: 5%;
    margin-left: 7%;
}
.bottom{
    background: linear-gradient(rgb(1, 15, 6),rgb(15, 55, 114));
    justify-content: center;
    align-items: center;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-content h1{
    color: rgb(187, 89, 89);
}



@media only screen and (max-width:700px){
    header{
        padding: 20px;
    }
    header label{
        display: initial;
    }  
    header .navbar{
        display: none;
        position: absolute;
        top: 100%;left: 0;right: 0;
        background: linear-gradient(rgb(31, 163, 75),rgb(177, 61, 177));
        border-top: 1px solid rgba(0, 0, 0,.1)
    }
    header .navbar ul li{
        width: 100%;
    }
    #menu-bar:checked ~ .navbar{
        display: initial;
    }
    .logo{
        margin-top: 2%;
        margin-left: 7%;
        display: block;
        justify-content: center;
    }
    .logo img{
        height: 300px;
    }
    .slogan{
        padding-left: 90px;
        display: block;
        justify-content: center;
        margin-top: 10%;
    }
    .slogan img{
        height: 200px;
        margin-bottom: 25px;
    }
    .top-image{
        display:block;
        position: relative;
        width: 300px;
        margin-left: 6%;
        margin-top: 10%;
    
    }
    .top-image img{
        width: 300px;
        height: 300px;
    
        border-radius: 50px;
    }
    .top-overlay{
        position: flex;
        top: 0;
        width: 300px;
        height: 100%;
        border-radius: 50px;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .image{
        display: inline-block;
        position: relative;
        width: 200px;
        margin-left: 11.5%;
        margin-top: 5%;
        border-radius:  100px;
    }
    .image img{
        border-radius: 400px;
    }
    .man{
        display: block;
        width: 100%;
    }
    .overlay{
        position: flex;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        border-radius: 200px;
    }
    .overlay:hover{
        opacity: 1;
    }
    .text{
        font-size: 20px;
        font-weight: 400;
    }

}

